<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 2em;">
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted">
        <form method="POST" action="/urls/<%= id %>/edit">
          <h5 class="card-title">Edit</h5>
          <label for="newURL">New URL:</label>
          <input type="text" id="newLongURL" name="newLongURL" placeholder="http://">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
      </div>
    </div>
    </main>
    <!-- Bootstrap JS -->
    <%- include('partials/_scripts') %>
  </body>
</html>